[Unit]
Description=SRE Final Autoscale Timer
Requires=autoscale.service

[Timer]
OnBootSec=30
OnUnitActiveSec=30
AccuracySec=5

[Install]
WantedBy=timers.target
